@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

$audio-row-height: 9vh;

body {
  background-color: #dfe6e9;
  font-family: "Hubballi", cursive;
}

@mixin button($button-width, $color, $hover-color, $text-color) {
  width: $button-width;
  color: $text-color;
  background-color: $color;
  padding: 5%, 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s all;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin input-range() {
  -webkit-appearance: none;
  background: transparent;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    width: 5px;
    border-radius: 3px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    transform: translateZ(100px);
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
}

button {
  @include button(100%, #34495e, #31679e, white);
}

.main-header {
  text-align: center;
}

.time-cursor {
  width: 97vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  input[type="range"] {
    @include input-range();
    width: 100%;
    &::-webkit-slider-thumb {
      border: none;
      height: $audio-row-height * 9;
      width: 1px;
    }
  }
}

.audio-container {
  display: flex;
  flex-direction: column;
  .audio-row {
    margin: 0;
    padding: 0;
    height: $audio-row-height;
    display: flex;
    flex-direction: row;
    .loader {
      position: absolute;
      margin: auto auto;
    }
    h3 {
      width: 20%;
      @media (max-width: 400px) {
        font-size: 0.75rem;
      }
    }
    button {
      width: 7%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    input[type="range"] {
      @include input-range();
      align-self: flex-end;
      background-color: aquamarine;
      &::-webkit-slider-thumb {
        border: none;
        outline: none;
        width: 5px;
        height: 5px;
      }
    }
  }
  .control-pannel {
    display: flex;
    flex-direction: row;
    select {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: #34495e;
      transition: 0.5s;
      color: red;
      &:hover {
        background-color: #3071a9;
      }
    }
  }
}

.volume-adjuster {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  .volume-indecator {
    padding: 1.5% 10%;
    margin-bottom: 8px;
    justify-self: center;
    background-color: #34495e;
  }
  .volume-slider {
    display: flex;
    flex-direction: row;
    input {
      width: 10vw;
    }
    span {
      width: 100%;
      height: 3vh;
    }
  }
}
