body {
  background-color: white;
}

@mixin button($button-width, $color, $hover-color, $text-color) {
  width: $button-width;
  color: $text-color;
  background-color: $color;
  padding: 5%, 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}

button {
  @include button(100%, #34495e, #34495e, white);
}

.time-cursor {
  width: 95vw;
  padding: 0;

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &:focus {
      outline: none;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;

      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #000000;
      height: 90vh;
      width: 1px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
      margin-top: -14px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      transform: translateZ(100px);
    }
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
}

.audio-container {
  display: flex;
  flex-direction: column;
  .audio-row {
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    h3 {
      width: 20%;
    }
    button {
      width: 10%;
      height: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    input {
      align-self: flex-end;
    }
  }
  .control-pannel {
    display: flex;
    flex-direction: row;
  }
}
