@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
body {
  background-color: #dfe6e9;
  font-family: "Hubballi", cursive;
}

button {
  width: 100%;
  color: white;
  background-color: #34495e;
  padding: 5%, 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

button:hover {
  background-color: #31679e;
}

.main-header {
  text-align: center;
}

.time-cursor {
  width: 97vw;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.time-cursor input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

.time-cursor input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.time-cursor input[type="range"]:focus {
  outline: none;
}

.time-cursor input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.time-cursor input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  width: 5px;
  border-radius: 3px;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -14px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.time-cursor input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.time-cursor input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.time-cursor input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 81vh;
  width: 1px;
}

.audio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.audio-container .audio-row {
  margin: 0;
  padding: 0;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.audio-container .audio-row h3 {
  width: 20%;
}

@media (max-width: 400px) {
  .audio-container .audio-row h3 {
    font-size: 0.75rem;
  }
}

.audio-container .audio-row button {
  width: 10%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.audio-container .audio-row input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: aquamarine;
}

.audio-container .audio-row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.audio-container .audio-row input[type="range"]:focus {
  outline: none;
}

.audio-container .audio-row input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.audio-container .audio-row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  width: 5px;
  border-radius: 3px;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -14px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.audio-container .audio-row input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.audio-container .audio-row input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.audio-container .audio-row input[type="range"]::-webkit-slider-thumb {
  border: none;
  width: 5px;
  height: 5px;
}

.audio-container .control-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.audio-container .control-pannel select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
  background-color: #34495e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: red;
}

.audio-container .control-pannel select:hover {
  background-color: #3071a9;
}

.volume-adjuster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.volume-adjuster .volume-indecator {
  margin-bottom: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.volume-adjuster .volume-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */